<% if distance.present? || error.present? %>
  <div class='grid col-span-2'>
    <span class='text-black font-semibold text-xl'>Результат</span>
    <% unless error.present? %>
      <div>Прямое расстояние от <span class='font-semibold text-blue-500'><%= from %></span> до <span class='font-semibold text-blue-500'><%= to %></span>: <span class='font-bold'><%= distance %> км</span></div>
    <% end %>
    <% if error.present? %>
      <div class='text-red-500'><%= error %></div>
    <% end %>
  </div>
<% end %>
