<% if distance.present? || error.present? %>
  <div class='grid col-span-2'>
    <span class='header'>Результат</span>
    <% unless error.present? %>
      <div class="regular-text text-xl">Прямое расстояние от <span class='blue-text'><%= from %></span> до <span class='blue-text'><%= to %></span>: <span class='header'><%= distance %> км</span></div>
    <% end %>
    <% if error.present? %>
      <div class='text-red-500'><%= error %></div>
    <% end %>
  </div>
<% end %>
