<%= turbo_frame_tag location do %>
<div class='grid grid-flow-row bg-gray-100 p-4 border-1 border-gray-300 rounded-xl'>
  <span class='text-blue-500'><%= location.name %></span>
  <span class='text-blue-500'><%= location.lonlat_string %></span>
  <%= button_to 'Удалить', location, method: :delete, data: { turbo_frame: 'locations' }, class: 'cursor-pointer text-red-500 pt-2 rounded-xl hover:font-bold' %>
</div>
<% end %>
