<%= turbo_frame_tag location do %>
<div class='location-card'>
  <span class='blue-text'><%= location.name %></span>
  <span class='regular-text'>Координаты (дол., шир.): <%= location.lonlat_string %></span>
  <%= button_to 'Удалить', location, method: :delete, data: { turbo_frame: 'locations' }, class: 'delete-button' %>
</div>
<% end %>
