<% if errors.present? %>
  <div class='grid grid-flow-row py-2'>
    <%= render partial: 'layouts/error', locals: { message: message || nil ,errors: errors } %>
  </div>
<% end %>
<% unless locations.nil? %>
  <% if locations.empty? %>
    <div class='grid grid-flow-row py-2'>
      <span class='regular-text'>Ничего не найдено</span>
    </div>
  <% end %>
  <% locations.each do |location| %>
    <%= render partial: 'locations/search_result', locals: { location: location } %>
  <% end %>
<% end %>
