<div class='error-card'>
  <span class='large-text'><%= message %></span>
  <% errors.each do |error| %>
    <ul>
    <%if error.is_a?(Hash) %>
      <li class='text-red-500'><%=t("api.yandex_geocoder_error") %></li>
    <%end%>
      <%if error.respond_to?(:full_message) %>
        <li class='text-red-500'><%=error.full_message %></li>
      <%end%>
    </ul>
  <% end %>
</div>
